GOERLI_RPC_URL = https://eth-goerli.alchemyapi.io
PRIVATE_KEY = 0xwe12345678
ETHERSCAN_API_KEY = JU2346
PINATA_API_KEY = thetkey
PINATA_API_SECRET = thefecretff
UPLOAD_TO_PINATA = false
mnemonic = happy is the man
UPDATE_FRONT_END = true